### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
p_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
players = len(p_data['SN'].unique())
players_df = pd.DataFrame([{'Total Players': players}])

players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#Number of Unique Items
remove_duplicates = p_data.drop_duplicates(['Item ID'], keep = 'last')

In [4]:
total_items = len(remove_duplicates)
total_items_df = pd.DataFrame([{'Total Items': total_items}])

total_items_df

   Total Items
0          183

In [5]:
#Average Purchase Price
average_p_price = (p_data['Price'].sum()/p_data['Price'].count()).round(2)
average_p_price_df = pd.DataFrame([{'Price': average_p_price}])

average_p_price_df

   Price
0   3.05

In [6]:
#Total Number of Purchases
total_purchases = p_data['Price'].count()
total_purchases_df = pd.DataFrame([{'Total Purchases': total_purchases}])
total_purchases_df

   Total Purchases
0              780

In [7]:
#Total Revenue
total_revenue = p_data['Price'].sum()
total_revenue_df = pd.DataFrame([{'Total Revenue': total_revenue}])
total_revenue_df

   Total Revenue
0        2379.77

In [8]:
p_analysis_df = pd.DataFrame([{
    
    'Number of Unique Items': total_items,
    'Average Purchase Price': average_p_price,
    'Total Purchases': total_purchases,
    'Total Revenue': total_revenue
}])
p_analysis_df

,Average Purchase Price,Number of Unique Items,Total Purchases,Total Revenue
0,3.05,183,780,2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [9]:
#total players = players

# Percentage and Count of Male Players
male_players = p_data[p_data["Gender"] == "Male"]["SN"].nunique()
m_percent = ((male_players/players)*100)
# Percentage and Count of Female Players
female_players = p_data[p_data["Gender"] == "Female"]["SN"].nunique()
f_percent = ((female_players/players)*100)
#Percentage and Count of Other / Non-Disclosed
other_players = p_data[p_data["Gender"] == "Other / Non-Disclosed"]["SN"].nunique()
o_percent = ((other_players/players)*100)
# Gender Demographics
gender_df = pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclosed"], "Percentage of Players": [m_percent, f_percent, o_percent],"Total Count": [male_players, female_players, other_players]})
gender_df

                  Gender  Percentage of Players  Total Count
0                   Male              84.027778          484
1                 Female              14.062500           81
2  Other / Non-Disclosed               1.909722           11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
#Purchasing Analysis (Gender)
#Male purchase count
male_purchases = p_data[p_data["Gender"] == "Male"]["Price"].count()
#Female purchase count
female_purchases = p_data[p_data["Gender"] == "Female"]["Price"].count()
#Other purchase count
other_purchases = p_data[p_data["Gender"] == "Other / Non-Disclosed"]["Price"].count()
#Male Average Purchase Price
ave_male_purchase = p_data[p_data["Gender"] == "Male"]["Price"].mean()
#Female Average Purchase Price
ave_female_purchase = p_data[p_data["Gender"] == "Female"]["Price"].mean()
#Other Average Purchase Price
ave_other_purchase = p_data[p_data["Gender"] == "Other / Non-Disclosed"]["Price"].mean()
#Male Total Purchase Value
total_male_purchase = p_data[p_data["Gender"] == "Male"]["Price"].sum()
#Female Total Purchase Value
total_female_purchase = p_data[p_data["Gender"] == "Female"]["Price"].sum()
#Other Total Purchase Value
total_other_purchase = p_data[p_data["Gender"] == "Other / Non-Disclosed"]["Price"].sum()
#Male Normalized Totals
normal_male_t = total_male_purchase/male_players
#Female Normalized Totals
normal_female_t = total_female_purchase/female_players
#Other Normalized Totals
normal_other_t = total_other_purchase/other_players
gender_analysis_df = pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclosed"], "Purchase Count": [male_purchases, female_purchases, other_purchases],
                                        "Average Purchase Price": [ave_male_purchase, ave_female_purchase, ave_other_purchase], "Total Purchase Value": [total_male_purchase, total_female_purchase, total_other_purchase],
                                "Normalized Totals": [normal_male_t, normal_female_t, normal_other_t]}, columns = 
                                        ["Gender", "Purchase Count", "Average Purchase Price", "Total Purchase Value", "Normalized Totals"])
gender_analysis_df

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
0,Male,652,3.017853,1967.64,4.065372
1,Female,113,3.203009,361.94,4.468395
2,Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [11]:
#Age Demographics

#unique
ten_under = p_data[p_data["Age"] <10]["SN"].nunique()
ten_up = p_data[(p_data["Age"] >=10) & (p_data["Age"] <=14)]["SN"].nunique()
fifteen_up = p_data[(p_data["Age"] >=15) & (p_data["Age"] <=19)]["SN"].nunique()
twenty_up = p_data[(p_data["Age"] >=20) & (p_data["Age"] <=24)]["SN"].nunique()
twentyfive_up = p_data[(p_data["Age"] >=25) & (p_data["Age"] <=29)]["SN"].nunique()
thirty_up = p_data[(p_data["Age"] >=30) & (p_data["Age"] <=34)]["SN"].nunique()
thirty_five_up = p_data[(p_data["Age"] >=35) & (p_data["Age"] <=39)]["SN"].nunique()
forty_up = p_data[(p_data["Age"] >=40) & (p_data["Age"] <=44)]["SN"].nunique()
fortyfive_up = p_data[(p_data["Age"] >=45) & (p_data["Age"] <=49)]["SN"].nunique()

#Purchase Count
c_ten_under = p_data[p_data["Age"] <10]["Price"].count()
c_ten_up = p_data[(p_data["Age"] >=10) & (p_data["Age"] <=14)]["Price"].count()
c_fifteen_up = p_data[(p_data["Age"] >=15) & (p_data["Age"] <=19)]["Price"].count()
c_twenty_up = p_data[(p_data["Age"] >=20) & (p_data["Age"] <=24)]["Price"].count()
c_twentyfive_up = p_data[(p_data["Age"] >=25) & (p_data["Age"] <=29)]["Price"].count()
c_thirty_up = p_data[(p_data["Age"] >=30) & (p_data["Age"] <=34)]["Price"].count()
c_thirty_five_up = p_data[(p_data["Age"] >=35) & (p_data["Age"] <=39)]["Price"].count()
c_forty_up = p_data[(p_data["Age"] >=40) & (p_data["Age"] <=44)]["Price"].count()
c_fortyfive_up = p_data[(p_data["Age"] >=45) & (p_data["Age"] <=49)]["Price"].count()
#Average Purchase Price
a_ten_under = p_data[p_data["Age"] <10]["Price"].mean()
a_ten_up = p_data[(p_data["Age"] >=10) & (p_data["Age"] <=14)]["Price"].mean()
a_fifteen_up = p_data[(p_data["Age"] >=15) & (p_data["Age"] <=19)]["Price"].mean()
a_twenty_up = p_data[(p_data["Age"] >=20) & (p_data["Age"] <=24)]["Price"].mean()
a_twentyfive_up = p_data[(p_data["Age"] >=25) & (p_data["Age"] <=29)]["Price"].mean()
a_thirty_up = p_data[(p_data["Age"] >=30) & (p_data["Age"] <=34)]["Price"].mean()
a_thirty_five_up = p_data[(p_data["Age"] >=35) & (p_data["Age"] <=39)]["Price"].mean()
a_forty_up = p_data[(p_data["Age"] >=40) & (p_data["Age"] <=44)]["Price"].mean()
a_fortyfive_up = p_data[(p_data["Age"] >=45) & (p_data["Age"] <=49)]["Price"].mean()
#Total Purchase Value
t_ten_under = p_data[p_data["Age"] <10]["Price"].sum()
t_ten_up = p_data[(p_data["Age"] >=10) & (p_data["Age"] <=14)]["Price"].sum()
t_fifteen_up = p_data[(p_data["Age"] >=15) & (p_data["Age"] <=19)]["Price"].sum()
t_twenty_up = p_data[(p_data["Age"] >=20) & (p_data["Age"] <=24)]["Price"].sum()
t_twentyfive_up = p_data[(p_data["Age"] >=25) & (p_data["Age"] <=29)]["Price"].sum()
t_thirty_up = p_data[(p_data["Age"] >=30) & (p_data["Age"] <=34)]["Price"].sum()
t_thirty_five_up = p_data[(p_data["Age"] >=35) & (p_data["Age"] <=39)]["Price"].sum()
t_forty_up = p_data[(p_data["Age"] >=40) & (p_data["Age"] <=44)]["Price"].sum()
t_fortyfive_up = p_data[(p_data["Age"] >=45) & (p_data["Age"] <=49)]["Price"].sum()
#Normalized Totals
n_ten_under = t_ten_under/ten_under
n_ten_up = t_ten_up/ten_up
n_fifteen_up = t_fifteen_up/fifteen_up
n_twenty_up = t_twenty_up/twenty_up
n_twentyfive_up = t_twentyfive_up/twentyfive_up
n_thirty_up = t_thirty_up/thirty_up
n_thirty_five_up = t_thirty_five_up/thirty_five_up
n_forty_up = t_forty_up/forty_up
n_fortyfive_up = t_fortyfive_up/fortyfive_up

a_demographic_df = pd.DataFrame({"Age": ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40-44", "45-49"],
"Percentage of Players": [(ten_under/players)*100, (ten_up/players)*100, (fifteen_up/players)*100, (twenty_up/players)*100, (twentyfive_up/players)*100, (thirty_up/players)*100, (thirty_five_up/players)*100, (forty_up/players)*100, (fortyfive_up/players)*100],
                        "Total Count": [ten_under, ten_up, fifteen_up, twenty_up, twentyfive_up, thirty_up, thirty_five_up, forty_up, fortyfive_up]
                       })
a_demographic_df

     Age  Percentage of Players  Total Count
0    <10               2.951389           17
1  10-14               3.819444           22
2  15-19              18.576389          107
3  20-24              44.791667          258
4  25-29              13.368056           77
5  30-34               9.027778           52
6  35-39               5.381944           31
7  40-44               1.909722           11
8  45-49               0.173611            1

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [12]:
#Purchasing analysis (Age)
demographic_age_df = pd.DataFrame({"Age": ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40-44", "45-49"],
"Purchase Count": [c_ten_under, c_ten_up, c_fifteen_up, c_twenty_up, c_twentyfive_up, c_thirty_up, c_thirty_five_up, c_forty_up, c_fortyfive_up],
"Average Purchase Price": [a_ten_under, a_ten_up, a_fifteen_up, a_twenty_up, a_twentyfive_up, a_thirty_up, a_thirty_five_up, a_forty_up, a_fortyfive_up],
"Total Purchase Value": [t_ten_under, t_ten_up, t_fifteen_up, t_twenty_up, t_twentyfive_up, t_thirty_up, t_thirty_five_up, t_forty_up, t_fortyfive_up],
"Normalized Totals": [n_ten_under, n_ten_up, n_fifteen_up, n_twenty_up, n_twentyfive_up, n_thirty_up, n_thirty_five_up, n_forty_up, n_fortyfive_up]                                   
                       },columns = 
                            ["Age", "Purchase Count", "Average Purchase Price", "Total Purchase Value", "Normalized Totals"])
demographic_age_df

,Age,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
0,<10,23,3.353478,77.13,4.537059
1,10-14,28,2.956429,82.78,3.762727
2,15-19,136,3.035956,412.89,3.858785
3,20-24,365,3.052219,1114.06,4.318062
4,25-29,101,2.900990,293.00,3.805195
5,30-34,73,2.931507,214.00,4.115385
6,35-39,41,3.601707,147.67,4.763548
7,40-44,12,3.045000,36.54,3.321818
8,45-49,1,1.700000,1.70,1.700000

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [13]:
#Top Spenders
total_Spent = pd.DataFrame(p_data.groupby('SN')['Price'].sum())
purchases_made = pd.DataFrame(p_data.groupby('SN')['Price'].count())
ave_price_spent = pd.DataFrame(p_data.groupby('SN')['Price'].mean())
top = pd.merge(total_Spent, purchases_made, left_index = True, right_index = True).merge(ave_price_spent, left_index=True, right_index=True)
top.rename(columns = {'Price_x': 'Total Purchase Value', 'Price_y':'Purchase Count', 'Price':'Average Purchase Price'}, inplace = True)
top.sort_values('Total Purchase Value', ascending = False, inplace=True)
top.head(5)

             Total Purchase Value  Purchase Count  Average Purchase Price
SN
Lisosia93                   18.96               5                3.792000
Idastidru52                 15.45               4                3.862500
Chamjask73                  13.83               3                4.610000
Iral74                      13.62               4                3.405000
Iskadarya95                 13.10               3                4.366667

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
#Most Popular Items
popular = pd.DataFrame(p_data.groupby('Item ID')['Item ID'].count())
popular.sort_values('Item ID', ascending = False, inplace = True)
popular_total = pd.DataFrame(p_data.groupby('Item ID')['Price'].sum())
pop_items = pd.merge(popular, popular_total, left_index = True, right_index = True)
drop_items = p_data.drop_duplicates(['Item ID'], keep = 'last')
top_item = pd.merge(pop_items, no_dup_items, left_index = True, right_on = 'Item ID')
top_item = top_item[['Item ID', 'Item Name', 'Item ID_x', 'Price_y', 'Price_x']]
top_item.rename(columns =  {'Item ID_x': 'Purchase Count', 'Price_y': 'Item Price', 'Price_x': 'Total Purchase Value'}, inplace=True)
top_item.head(5)

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [ ]:
#Most Profitable
most_profitable = top_item.sort_values('Total Purchase Value', ascending=False)
most_profitable.head(5)